.title {
  font-size: 36px;
  padding-bottom: 20px;
  color: #333333;
  display: block;
}

.name {
  color: #666;
}
.text {
  color: #999;
}

.list {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
