@import "~@pandora/tarot/dist/style/components/list.scss";
@import "~@pandora/tarot/dist/style/components/icon.scss";
@import "~@pandora/tarot/dist/style/components/action-sheet.scss";
@import "~@pandora/tarot/dist/style/components/float-layout.scss";
/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  box-sizing: border-box;
} 